.menuItems {
    --line: #646B8C;
    --color: #2B3044;
    text-decoration: none;
    color: var(--color);
    position: relative;
    padding-bottom: 18px;
}

span {
    background-image: linear-gradient(0deg, var(--line) 0%, var(--line) 100%);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: var(--background-size, 100%) 1px;
    transition: background-size .2s linear var(--background-delay, .15s);
    font-size: 17px;
    line-height: 20px;
    transform: translateZ(0);
}

.menuItems svg {
    vertical-align: top;
    display: inline;
    line-height: 1;
    width: 13px;
    height: 20px;
    position: relative;
    left: -2px;
    fill: none;
    strokeLinecap: round;
    strokeLinejoin: round;
    strokeWidth: 1px;
    stroke: var(--line);
    stroke-dasharray: 7.95 30;
    stroke-dashoffset: var(--stroke-dashoffset, 46);
    transition: stroke-dashoffset var(--stroke-duration, .15s) var(--stroke-easing, linear) var(--stroke-delay, 0s);
}

.menuItems:hover {
    --background-size: 0%;
    --background-delay: 0s;
    --stroke-dashoffset: 26;
    --stroke-duration: .3s;
    --stroke-easing: cubic-bezier(.3, 1.5, .5, 1);
    --stroke-delay: .195s;
}


.logo a {
    display: block;
    color: white;
    text-decoration: none;
    position: relative;
}

.logo a::after {
    content: "";
    background: white;
    mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.logo a:hover::after {
    height: calc(100% + 8px)
}